@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLegacyUrl</title>
</head>
<body>
    <div>
        <h2>GetLegacyURL</h2>
        The Url requested was: @Model
    </div>
</body>
</html>
